/* --- Layout.js --- */

.contents {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  --tw-text-opacity: 1;
  color: rgba(75, 85, 99, var(--tw-text-opacity));
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 0%;
}
.nav {
  --tw-bg-opacity: 1;
  background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
  width: 100vw;
}
.inner {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  height: 3.5rem;
}
.inner2 {
  display: flex;
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}
.nav_link {
  --tw-text-opacity: 1;
  color: rgba(209, 213, 219, var(--tw-text-opacity));	
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
}
.nav_link:hover {
  background-color: rgba(55, 65, 81, var(--tw-text-opacity));
}


/* --- Blog.js --- */
.blog {
  margin: 2.5rem;
}
.blog_title {
  margin-bottom: 2rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: bold;
}
.blog_body {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.blog_back {
  display: flex;
  cursor: pointer;
  margin-top: 3rem;
}
.blog_back svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.75rem;
}

.posts {
  cursor: pointer;
  color: rgba(59, 130, 246, 1);
  border-bottom: rgba(59, 130, 246, 1) 0.25rem solid;
}
.posts:hover {
  color: rgba(229, 231, 235, 1);	
}

/* --- Contact.js --- */
.card {
  background-color: #fff;
  text-align: center;
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  padding: 2rem;
  width: 20rem;
  border-radius: 0.25rem;
}
.card_inner {
  margin-top: 1rem;
}
.card_inner p {
  font-weight: bold;
}
.card_image {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.card_image_img {
  border-radius: 9999px;
}
.card_text {
  margin-top: 1rem;
}
.card_text_top {
  font-weight: bold;
}
.card_text_p {
  font-size: 0.75rem;
  line-height: 1rem;
  margin-top: 0.5rem;
  color: rgba(75, 85, 99, 1);
}
.sns {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
}
.sns svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.75rem;
  color: rgba(59, 130, 246, 1);
}
.sns div:nth-child(2) svg {
  color: rgba(29, 78, 216, 1);
}
.sns div:nth-child(3) svg {
  margin-right: 0;
  color: rgba(107, 114, 128, 1);
}

.footer {
  display: flex;
  height: 3rem;
  width: 100vw;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.logo {
  height: 1em;
  margin-left: 0.5rem;
}
.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}



@media (max-width: 600px) {
  .title {
    font-size: 4rem;
  }
}
